nav ul {
  list-style-type: none;
}

nav li {
  color: white;
  display: inline;
  padding: 10px;
  margin: 10px;
}
body {
  background-image: url(../images/ocean-tile.jpg);
  text-align: center;
  font-family: fantasy;
  color: darkred;
  font-size: 35px;
}
#contact {
  background-image: url(../images/scream.jpg);
  color: #ff8787 ;
}
a:visited {
  color: #8e028a;
}
#contact a:visited {
  color: white;
}
